.home-page {
    height: 100vh;
    width: 100%;
    padding: 0 1em 3em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    //tablets - portrait
    @media only screen and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (orientation : portrait) {
        padding: 1em;
        padding-bottom: 5em;
    }

    //Desktops and laptops
    @media only screen  and (min-width : 1224px) {
        width: 40%;
        padding: 3em;
    }

    .game-logo {
        margin: 1rem 0;
        max-width: 90%;

        //tablets - portrait
        @media only screen and (min-device-width : 768px) 
        and (max-device-width : 1024px)
        and (orientation : portrait) {
            max-width: 90%;
        }

        //Desktops and laptops
        @media only screen  and (min-width : 1224px) {
            max-width: 100%;
        }
    }

    .kickstarter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .kickstarter-logo {
            width: 80%;
        }

        .visit-form {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 1rem;

            .visit-button {
                width: 30%;
                height: 2rem;
                background-color: #4a8794;
                border: none;      
                border-radius: .35em;
                font-size: medium;
                font-weight: bold;
                color: whitesmoke;
                
                transition: all .2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
        
        p {
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 1rem;

            @media only screen  and (min-width : 1224px) {
                font-size: 1.3em;
            }
        }
    }

    .board-img-container {
        max-width: 100%;
    }

    .arrow-icon {
        font-size: 3em;
        color: #4a8794;

        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}
