@use './signupForm.scss';
@use './imageContainer.scss';
@use './gameLogoContainer.scss';
@use './socialMediaIcon.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body
{
    height: 100%;
    background-image: url(../resources/img_background.jpg);  
    background-size: cover;
}

.flake {
  color: rgb(247, 252, 243);
  font-size: 2rem;
  padding: 1rem;
  animation: fall 2s linear forwards infinite;
  animation-delay: 1s;
}

/* animating snowflake in Y-axis  */

@keyframes fall {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(100vh);
  }
}