@use './signupFormContainer.scss';
@use './signupForm.scss';
@use './imageContainer.scss';
@use './gameLogoContainer.scss';
@use './socialMediaIcon.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body
{
    height: 100%;
    background-image: url(../resources/img_background.jpg);  
    background-size: cover;
}
