@use './signupForm.scss';
@use './imageContainer.scss';
@use './gameLogoContainer.scss';
@use './socialMediaIcon.scss';
@use './warning.scss';
@use './navbar.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body
{
    height: 100%;
    overflow: hidden;
}

.app-container {
    width: 100%;
    height: 100%;

    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
 
  /* Scroll Snap */
  scroll-snap-align: center;

  &#newsletter {
    background-image: url(../resources/img_background.jpg);  
    background-size: cover;
  }

  &#about-us {
    background-color: white;
  }
}

