.coming-soon-page {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .box-img-container {
        height: 40%;
        width: auto;
    }

    .jumper-img-container {
        height: 40%;
        width: auto;
    }

    .signup-form-and-title-container {
        height: auto;
        width: 20%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gameTitle-container{
            width: 80%;
            margin-bottom: 2rem;
        }

        .signup-form-container{
            width: 70%;
        }
    }
    
}