.coming-soon-page {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .box-img-container {
    }

    .jumper-img-container {
    }

    .signup-form-and-title-container {
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gameTitle-container{

        }

        .signup-form-container{
            width: 70%;
        }
    }
    
}