.coming-soon-page {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .box-img-container {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jumper-img-container {
        height: 80%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup-form-container {
        height: 80%;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}