.game-logo-container{
    margin: 1rem;
    max-height: 6rem;

     //tablets - portrait
     @media only screen and (min-device-width : 768px) 
     and (max-device-width : 1024px) 
     and (orientation : portrait) {
         max-height: 7rem;
     }
}