.image-container {
    max-height: 27rem;
    max-width: 33rem;
    object-fit: fill;

    mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0em,
    rgba(0, 0, 0, 1) 6em);

    -webkit-mask-image: 
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0em,
      rgba(0, 0, 0, 1) 6em);


    @media only screen and (max-width: 480px) {
        max-width: 21rem;
    }

    @media only screen and (max-width: 360px) {
        max-width: 15rem;
    }
}